In [2]:
a=10
b=15
c=a+b
print(c)

25

In [3]:
import math
math.sqrt(c)

5.0

In [8]:
radius=5
pi=3.14
area=pi*(radius**2)
print("area of circle: ",area)

area of circle:  78.5

In [17]:
# 1 kil8ometer equals 0.62137 miles
km=20
mile=km*0.62137
print(f"{km}km = {round(mile)}miles")

20km = 12miles

In [23]:
import random
randomnumber = random.randint(1, 10)
print(randomnumber)

3

In [24]:
name="AREEBA"
print(name)

AREEBA

In [25]:
age=21
print(age)

21

In [54]:
pi=3.14159
print(pi)
print(f"{pi:.2f}")

3.14159
3.14

In [71]:
num1=int(input())
num2=int(input())
sum=num1+num2
print("sum = ", sum)

30
20
sum =  50

In [1]:
var="is_true"
bool(var)

True

In [2]:
message="I m here"
print(message)

I m here

In [3]:
print(message[0])
print(message[-1])

I
e

In [34]:
len(message)

8

In [13]:
message[::-1]

'ereh m I'

In [9]:
word="AREEBA HERE"
print(word[0])

A

In [10]:
print(word[0])
print(word[1])
print(word[2])

A
R
E

In [11]:
print(word[-1])
print(word[-2])
print(word[-3])

E
R
E

In [43]:
print(word[::2])

AEB EE

In [16]:
word[::-1]

'EREH ABEERA'

In [25]:
sentence="AREEBA FATIMA, Student of Ai"
print(sentence.upper())
print(sentence.lower())

AREEBA FATIMA, STUDENT OF AI
areeba fatima, student of ai

In [33]:
print('Number of occurrence of A:', sentence.count('A'))

Number of occurrence of A: 5

In [41]:
sentence.replace("Ai", "BS_MATHEMATICS")

'AREEBA FATIMA, Student of BS_MATHEMATICS'

In [43]:
NAME='AREEBA FATIMA'
AGE=21
CITY='HYDERABAD'
print(f"MY NAME IS {NAME}. I'M {AGE} YEARS OLD. I LIVE IN {CITY}")

MY NAME IS AREEBA FATIMA. I'M 21 YEARS OLD. I LIVE IN HYDERABAD

In [62]:
number = 1
number2 = 2
print(f"{number:02d}")
print(f"{number2:02d}")

01
02

In [63]:
import locale 
print(locale.setlocale(locale.LC_ALL, ''))
print(locale.setlocale(locale.LC_ALL, 'en_GB'))

English_United States.1252
en_GB

In [65]:
price=4.67
currency="${:,.2f}".format(price)
print(currency)

$4.67

In [67]:
percent = 12.56
print(f'Percentage: {percent}%')

Percentage: 12.56%

In [75]:
prime=int(input())
if prime > 1:
    for i in range(2, int(prime/2)+1):
        if (prime % i) == 0:
            print(prime, "is not a prime number")
            break
    else:
        print(prime, "is a prime number")
else:
    print(prime, "is not a prime number")

7
7 is a prime number

In [79]:
def fibonacci_of(n):
     if n in {0, 1}:  # Base case
return n
return fibonacci_of(n - 1) + fibonacci_of(n - 2)

[fibonacci_of(n) for n in range(15)]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

IndentationError: expected an indented block after 'if' statement on line 2 (3098544494.py, line 3)

In [83]:
import math
print(math.factorial(5))

120

In [84]:
width=int(input())
height=int(input())
area=width*height
print("area of triangle = ",area)

8
4
area of triangle =  32

In [93]:
mylist=[1,2,3,4,5,6,7,8,9]
mytuple=('areeba','fatima','fariha','faiza')
myset = {1.2,2.3,3.4,5.6}
my_dict={'areeba':'A','fatima':'B','fariha':'C','faiza':'D'}

In [96]:
mybool=4>2
print(mybool)

True

In [109]:
text="I'M HERE \nI'm 21\nI'm student of Ai"
print(text)
print('Number of occurrence of E:', text.count('E'))

I'M HERE
I'm 21
I'm student of Ai
Number of occurrence of E: 2

In [112]:
worde = "student"
if worde in text:
    print(f"the word {worde}", "..found!")
else:
    print(text, "..not found!")

the word student ..found!